---
import { parseStringPromise } from "xml2js";
import BaseLayout from '../layouts/BaseLayout.astro'
import Cards from "../components/Cards.astro";

const response = await fetch("https://rss.nbp.pl/kursy/TabelaA.xml");
const buffer =  await response.arrayBuffer();
const xml = new TextDecoder("ISO-8859-2").decode(buffer)
const result = await parseStringPromise(xml);
const feed_title = result.rss.channel[0].title[0];
const posts = result.rss.channel[0].item.map((item: any) => ({
    title: item.title[0],
    link: item.link[0],
    description: item.description[0],
  }));


---

<BaseLayout title={feed_title} description={feed_title}>
      <div class="container is-max-desktop">
        <h1 class="title ">{feed_title}</h1>
        <Cards posts={posts}>

        </Cards>
      </div>
</BaseLayout>    