---
const {title, description}=Astro.props;
console.log(description);
---
<head> 
    <meta charset="utf-8">
    <link rel="stylesheet" href="./bulma/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="description" content={description}>
</head>
